<ion-app>
  <ion-list>
    <ion-item>
      <ion-select placeholder="select type" (ionChange)="selectType($event)">
        <ion-select-option *ngFor="let type of types$ | async" [value]="type">{{
          type
        }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-progress-bar
      type="indeterminate"
      *ngIf="loading$ | async"
    ></ion-progress-bar>
    <ng-container *ngIf="res$ | async as res">
      <ng-container [ngSwitch]="currentType$ | async">
        <app-viewer [items]="res.results"></app-viewer>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-app>
