<ng-container *ngFor="let film of films; let idx = index">
  <ion-item id="open-modal-{{ idx }}" (click)="openModal(film)">
    <ion-label>{{ film.title }}</ion-label>
  </ion-item>
  <ion-modal #modal trigger="open-modal-{{ idx }}">
    <ng-template>
      <ng-container *ngIf="currentFilm$ | async as currentFilm">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
            <ion-title>{{ currentFilm.title }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item-group *ngIf="currentFilm.director">
            <h5>Director:</h5>
            <ion-item>
              <ion-label>{{ currentFilm.director }}</ion-label>
            </ion-item>
          </ion-item-group>
          <ion-item-group *ngIf="currentFilm.opening_crawl">
            <h5>Opening crawl:</h5>
            <ion-item>
              <ion-label>{{ currentFilm.opening_crawl }}</ion-label>
            </ion-item>
          </ion-item-group>
          <ion-item-group *ngIf="currentFilm.producer">
            <h5>Producer:</h5>
            <ion-item>
              <ion-label>{{ currentFilm.producer }}</ion-label>
            </ion-item>
          </ion-item-group>
          <ion-item-group *ngIf="currentFilm.release_date">
            <h5>Release date:</h5>
            <ion-item>
              <ion-label>{{ currentFilm.release_date }}</ion-label>
            </ion-item>
          </ion-item-group>
          <ion-accordion-group>
            <ion-accordion
              *ngIf="
                currentFilm.characters && currentFilm.characters.length > 0
              "
              value="characters"
            >
              <ion-item slot="header" color="light">
                <h5>Characters</h5>
              </ion-item>
              <div
                class="ion-padding"
                slot="content"
                *ngFor="let characters of currentFilm.characters"
              >
                <ion-label>{{ characters }}</ion-label>
              </div>
            </ion-accordion>
            <ion-accordion
              *ngIf="currentFilm.planets && currentFilm.planets.length > 0"
              value="planets"
            >
              <ion-item slot="header" color="light">
                <h5>Planets</h5>
              </ion-item>
              <div
                class="ion-padding"
                slot="content"
                *ngFor="let planet of currentFilm.planets"
              >
                <ion-label>{{ planet }}</ion-label>
              </div>
            </ion-accordion>
            <ion-accordion
              *ngIf="currentFilm.species && currentFilm.species.length > 0"
              value="species"
            >
              <ion-item slot="header" color="light">
                <h5>Species</h5>
              </ion-item>
              <div
                class="ion-padding"
                slot="content"
                *ngFor="let specie of currentFilm.species"
              >
                <ion-label>{{ specie }}</ion-label>
              </div>
            </ion-accordion>
            <ion-accordion
              *ngIf="currentFilm.starships && currentFilm.starships.length > 0"
              value="starships"
            >
              <ion-item slot="header" color="light">
                <h5>Starships</h5>
              </ion-item>
              <div
                class="ion-padding"
                slot="content"
                *ngFor="let starship of currentFilm.starships"
              >
                <ion-label>{{ starship }}</ion-label>
              </div>
            </ion-accordion>
            <ion-accordion
              *ngIf="currentFilm.vehicles && currentFilm.vehicles.length > 0"
              value="vehicles"
            >
              <ion-item slot="header" color="light">
                <h5>Vehicles</h5>
              </ion-item>
              <div
                class="ion-padding"
                slot="content"
                *ngFor="let vehicle of currentFilm.vehicles"
              >
                <ion-label>{{ vehicle }}</ion-label>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-content>
      </ng-container>
    </ng-template>
  </ion-modal>
</ng-container>
